<div class="w-50 mx-auto text-center mt-5">

  <h1>This are all the events</h1>
  <h3 class="mt-5">Past events:</h3>
  <ul>
    <% @events_past.each do |event| %>
        <li style="list-style: none;">
          <%= event.location %>
          <%= event.datetime %>
          <%= link_to 'View Event', event_path(event.id)%>
        </li>
    <% end %>
  </ul> 


  <h3 class="mt-5">Next events:</h3>
  <ul>
    <% @events_future.each do |event| %>
        <li style="list-style: none;">
          <%= event.location %>
          <%= event.datetime %>
          <%= link_to 'View Event', event_path(event.id)%>
        </li>
    <% end %>
  </ul> 
</div>