<h1>User Name is: <%= @user.name %></h1>
<h3>Events <%= @user.name %> created:</h3>
<ul>
  <% @user.authored_events.each do |ue| %>
    <li>
      <%= ue.location %>
      <%= ue.datetime %>
    </li>
  <% end %>
</ul>

<h3>Events <%= @user.name %> is going to attend:</h3>
 <ul>
  <% @user.attended_events.each do |event| %>
    <li>
      <%= event.location %>
      <%= event.datetime %>
    </li>
  <% end %>
</ul> 